<a href="https://colab.research.google.com/github/jylee-ii/school-assignments/blob/main/2025_1%ED%95%99%EA%B8%B0_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 🧪 파이썬 실기 시험지
총 10문제 / 100점 만점
아래 문제에 대한 파이썬 코드를 작성하세요.
(모든 문항은 함수 없이 작성하며, 입력 → 처리 → 출력 흐름을 지켜주세요.)

In [ ]:
# 본인의 이름과 학번을 출력하세요
print("이지이")
print("20251226")

이지이
20251226

## 문제 1
# 1. 평균 속력 계산 (하, 5점)
덕성이는 총 120.5km를 2시간 15분 동안 운전했다.
평균 속력 = 거리 ÷ 시간 (소수 둘째 자리까지 출력)
거리는 120.5, 시간은 2시간 15분으로 계산하시오.

In [3]:
#문제1
km=120.5
time=2.25
print(f"평균 속력: {km/time:.2f} km/h")

평균 속력: 53.56 km/h

## 문제 2
# 2. while문으로 반복 출력 (하, 5점)
print("나는 행복합니다") 를 5번 출력하는 코드를 while문으로 작성하시오.

In [10]:
#문제2
i=1
while i<=5:
  print("나는 행복합니다")
  i+=1

나는 행복합니다
나는 행복합니다
나는 행복합니다
나는 행복합니다
나는 행복합니다

## 문제 3
# 3. for문으로 반복 출력 (하, 5점)
print("나는 행복합니다") 를 5번 출력하는 코드를 for문으로 작성하시오.

In [11]:
#문제3
for i in range(5):
  print("나는 행복합니다")

나는 행복합니다
나는 행복합니다
나는 행복합니다
나는 행복합니다
나는 행복합니다

## 문제 4
# 4. 리스트에서 첫 글자 출력 (하, 5점)
리스트 = ['dog', 'cat', 'parrot'] 가 있을 때,
각 동물 이름의 첫 글자만 출력하는 프로그램을 작성하시오.

In [16]:
#문제4
lst=['dog','cat','parrot']
for i in lst:
  print(i[0])

d
c
p

## 문제 5
# 5. 초를 시:분:초로 변환 (중, 10점)
사용자로부터 초를 입력받아 시:분:초로 변환하여 출력하는 프로그램을 작성하시오.

In [26]:
#문제5
time=int(input("초를 입력하세요: "))
hour=time//3600
time%=3600
min=time//60
time%=60
second=time%60
print(f"{hour}시간 {min}분 {second}초")

초를 입력하세요: 3456
0시간 57분 36초

## 문제 6
#6. 나이에 따른 연령대 분류 (중, 10점)

사용자로부터 나이(age)를 입력받아 다음 기준에 따라 그룹명을 출력하는 프로그램을 작성하시오.

- 0 ~ 12세 : 어린이  
- 13 ~ 18세 : 청소년  
- 19 ~ 64세 : 성인  
- 65세 이상 : 노인

In [28]:
#문제6
age = int(input("나이를 입력하세요: "))

if age >= 0 and age <= 12:
    print("group is 어린이")
elif age >= 13 and age <= 18:
    print("group is 청소년")
elif age >= 19 and age <= 64:
    print("group is 성인")
elif age >= 65:
    print("group is 노인")
else:
    print("잘못된 나이입니다.")

나이를 입력하세요: 21
group is 성인

## 문제 7
# 7. 3일 이동 평균 계산 (상, 15점)
my_list = [100, 200, 400, 800, 1000, 1300] 에 대해
3일 이동 평균을 계산하여 출력하는 프로그램을 작성하시오.

In [42]:
#문제7
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
  avg=(my_list[i]+my_list[i+1]+my_list[i+2])/3
  print(round(avg,1))

233.3
466.7
733.3
1033.3

## 문제 8
# 8. 세 자리 수 조건 필터링 (상, 15점)
100부터 999 사이의 정수 중
첫 자리는 짝수, 끝자리는 홀수이며, 4의 배수가 아닌 수만 출력하시오.

In [48]:
#문제8
for i in range(100,1000):
  str_i=str(i)
  if int(str_i[0])%2==0 and int(str_i[-1])%2!=0 and int(str_i)%4!=0:
    print(i)

201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499
601
603
605
607
609
611
613
615
617
619
621
623
625
627
629
631
633
635
637
639
641
643
645
647
649
651
653
655
657
659
661
663
665
667
669
671
673
675
677
679
681
683
685
687
689
691
693
695
697
699
801
803
805
807
809
811
813
815
817
819
821
823
825
827
829
831
833
835
837
839
841
843
845
847
849
851
853
855
857
859
861
863
865
867
869
871
873
875
877
879
881
883
885
887
889
891
893
895
897
899

## 문제 9
# 9. 소수 출력 (상, 15점)
1부터 100까지의 수 중 소수만 출력하는 프로그램을 작성하시오.

In [57]:
#문제9
for i in range(2,101):
  prime=True
  for j in range(2,i):
    if i%j==0:
      prime=False
      break
  if prime:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 문제 10
# 10. 입력 종료 및 최댓값 추출 (상, 15점)
사용자가 0을 입력할 때까지 숫자를 입력받고,
입력된 수의 개수와 최댓값을 출력하는 프로그램을 작성하시오.
(0은 포함하지 않음)

In [4]:
#문제10
for i in range(2,101):
  prime=True
  for j in range(2,i):
    if i%j==0:
      prime=False
      break
  if prime:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97