<a href="https://colab.research.google.com/github/jylee-ii/school-assignments/blob/main/%5B%EA%B3%BC%EC%A0%9C1%5D_20251226_%EC%9D%B4%EC%A7%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world')

In [ ]:
x=11
y=2
q=x//y
r=x%y

print(f"{x}을 {y}로 나눈 몫={q}")
print(f"{x}을 {y}로 나눈 나머지={r}")

11을 2로 나눈 몫=5
11을 2로 나눈 나머지=1

In [ ]:
today=0
print((today+10)%7)

3

In [ ]:
myMoney=5000
candyPrice=120

numCandies=myMoney//candyPrice
print(numCandies)
change=myMoney%candyPrice
print(change)

41
80

In [ ]:
24*(1+0.06)**382

111442737812.28842

In [ ]:
init_money=24
interest=0.06
years=382

init_money*(1+interest)**years

111442737812.28842

In [ ]:
name=input("이름이 무엇인가요?")

이름이 무엇인가요?지디

In [ ]:
int(input("첫 번째 정수를 입력하시오:"))
int(input("두 번째 정수를 입력하시오:"))

result=x+y
print(f"{x}+{y}={result}")

result=x-y
print(f"{x}-{y}={result}")

result=x*y
print(f"{x}*{y}={result}")

result=x/y
print(f"{x}/{y}={result}")

첫 번째 정수를 입력하시오:5
두 번째 정수를 입력하시오:10
11+2=13
11-2=9
11*2=22
11/2=5.5

In [ ]:
product="coffee"
count=3
price=10000
print(f"상품{product}{count}개의 가격은{count*price}원입니다.")

상품coffee3개의 가격은30000원입니다.

In [ ]:
city=input("도시명을 입력하시오")
temperature=float(input("기온을 입력하세요(예:20.5):"))
weather_condition=input("날씨 상태를 입력하세요:")
news=f"\n오늘 {city}의 날씨는 {weather_condition}이며, 기온은 {temperature}도입니다."
news+="적당한 날씨입니다. 즐거운 하루 되세요!"
print(news)

도시명을 입력하시오서울
기온을 입력하세요(예:20.5):22
날씨 상태를 입력하세요:맑음

오늘 서울의 날씨는 맑음이며, 기온은 22.0도입니다.적당한 날씨입니다. 즐거운 하루 되세요!

In [ ]:
word1=input('첫 번째 단어를 입력해주세요:')
word2=input('두 번째 단어를 입력해주세요:')
word3=input('세 번째 단어를 입력해주세요:')

acronym=word1[0]+word2[0]+word3[0]
print(acronym)

첫 번째 단어를 입력해주세요:original
두 번째 단어를 입력해주세요:sound
세 번째 단어를 입력해주세요:track
ost

In [ ]:
word=input("첫 번째 단어를 입력해주세요:")

print(f"첫 번째 문자는 {word[0]} 입니다")
print(f"마지막 문자는 {word[-1]} 입니다")

length=len(word)//2
print(f"가운데 문자는 {word[length]} 입니다")

첫 번째 단어를 입력해주세요:2
첫 번째 문자는 2 입니다
마지막 문자는 2 입니다
가운데 문자는 2 입니다

In [ ]:
x=input("도시명을 입력하세요:")
y=float(input("기온을 입력하세요:"))
z=input("날씨 상태를 입력하세요:")
news=f"오늘 {x}의 날씨는 {z}이며, 기온은 {y}도입니다."
news+="적당한 날씨입니다. 즐거운 하루 되세요!"
print(news)

도시명을 입력하세요:서울
기온을 입력하세요:20.5
날씨 상태를 입력하세요:맑음
오늘 서울의 날씨는 맑음이며, 기온은 20.5도입니다.적당한 날씨입니다. 즐거운 하루 되세요!

In [ ]:
# 과제 01
x=int(input("첫 번째 정수를 입력하세요: "))
y=int(input("두 번째 정수를 입력하세요: "))

print("정수의 합:", x+y)
print("정수의 차:", x-y)
print("정수의 곱:", x*y)
print("정수의 평균:", (x+y)/2)
print("큰 수:", max(x,y))
print("작은 수:", min(x,y))

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 5
정수의 합: 15
정수의 차: 5
정수의 곱: 50
정수의 평균: 7.5
큰 수: 10
작은 수: 5

In [ ]:
# 과제 02
r=int(input("반지름(r)을 입력하세요: "))
h=int(input("높이(h)를 입력하세요: "))

vol= round(3.141592*r**2*h,2)
print(f"원기둥의 부피는 {vol} 입니다.")

반지름(r)을 입력하세요: 5
높이(h)를 입력하세요: 3
원기둥의 부피는 235.62 입니다.

In [ ]:
# 과제 03
x=int(input("4자리 정수를 입력하세요: "))
print('각 자리수의 합:', x//1000 + (x%1000-x%100)//100 + (x%100-x%10)//10 + x%10)

4자리 정수를 입력하세요: 4567
각 자리수의 합: 22

In [ ]:
# 과제 04
w=int(input("무게(킬로그램): "))
h=float(input("키(미터): "))
print(f"당신의 BMI: {w/(h**2):}")

무게(킬로그램): 50
키(미터): 1.60
당신의 BMI: 19.531249999999996

In [ ]:
# 과제 05
x=input("이름을 입력하세요: ")
y=input("나이를 입력하세요: ")
print(f"안녕하세요, 저는 {x}이고, {y}살입니다.")

이름을 입력하세요: 이지이
나이를 입력하세요: 20
안녕하세요, 저는 이지이이고, 20살입니다.

In [ ]:
# 과제 06
x=input("반복할 문자열을 입력하세요: ")
y=int(input("반복 횟수를 입력하세요: "))
result=x*y
print(f"결과: {result}")

반복할 문자열을 입력하세요: love
반복 횟수를 입력하세요: 7
결과: lovelovelovelovelovelovelove