<a href="https://colab.research.google.com/github/jylee-ii/school-assignments/blob/main/%5B%EA%B3%BC%EC%A0%9C3%5D_20251226_%EC%9D%B4%EC%A7%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for x in[0,1,2,3,4,5,6,7,8,9]:
  print(x,end= ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
sum=0
for x in range(10):
  sum=sum+x
print(sum)

45

In [ ]:
sum=0
for x in range(0,10):
  sum=sum+x
print(sum)

45

In [ ]:
for x in range(0,10,2):
  print(x,end=" ")

0 2 4 6 8

In [ ]:
even_numbers=list(range(2,21,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
reverse_numbers=list(range(10,0,-1))
print(reverse_numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
sum=0
limit=int(input('어디까지 계산할까요:'))

for i in range(1,limit+1):
  sum+=i
print("1부터",limit,"까지의 함수의 합=",sum)

어디까지 계산할까요:10
1부터 10 까지의 함수의 합= 55

In [ ]:
sum=0
limit=int(input('어디까지 게산할까요:'))

start_number=2
increase_by=2

for i in range(start_number,limit+1,increase_by):
  sum+=i

print(start_number,"부터",limit,"까지의 정수의 합=",sum)

어디까지 게산할까요:10
2 부터 10 까지의 정수의 합= 30

In [ ]:
fact=1.0
n=int(input('정수를 입력하세요:'))

for i in range(1,n+1):
  fact=fact*i

print(n,'!은',fact,'이다.')

정수를 입력하세요:10
10 !은 3628800.0 이다.

In [ ]:
fact=1.0
n=int(input('정수를 입력하세요: '))

for i in range(1,n+1):
  fact=fact*i

print(f"{n}!은 {int(fact)}이다.")

정수를 입력하세요: 10
10!은 3628800이다.

In [ ]:
fact=1.0
n=int(input('정수를 입력하세요: '))

if n<0:
  print('음수는 팩토리얼을 계산할 수 없습니다.')
else:
  for i in range(1,n+1):
    fact=fact*i
  print(f"{n}!은 {int(fact)}이다.")

정수를 입력하세요: 6
6!은 720이다.

In [ ]:
for t in range(1,101,10):
  C=(t-32.0)*(5/9)
  print(t,"->",round(C,2))

1 -> -17.22
11 -> -11.67
21 -> -6.11
31 -> -0.56
41 -> 5.0
51 -> 10.56
61 -> 16.11
71 -> 21.67
81 -> 27.22
91 -> 32.78

In [ ]:
start_tempt=int(input('시작 온도를 입력하세요:'))
end_tempt=int(input('끝 온도를 입력하세요:'))

for t in range(start_tempt,end_tempt,10):
  c=(t-32)*(5/9)
  print(t,"->",round(c,2))

시작 온도를 입력하세요:50
끝 온도를 입력하세요:90
50 -> 10.0
60 -> 15.56
70 -> 21.11
80 -> 26.67

In [ ]:
i=0
while i<5:
  print("반갑습니다")
  i+=1
print("반복이 완료되었습니다")

반갑습니다
반갑습니다
반갑습니다
반갑습니다
반갑습니다
반복이 완료되었습니다

In [ ]:
i=1
factorial=1

while (i<=10):
  factorial*=i
  i+=1
print("10!은 %d입니다."%factorial)

10!은 3628800입니다.

In [ ]:
num=int(input("숫자를 입력하세요: "))

if num<=0:
  print("잘못된 입력입니다.")
else:
  for i in range(1,num):
    if i %2!=0:
      print(i,end=" ")

숫자를 입력하세요: 10
1 3 5 7 9

In [ ]:
n=0
sum=0
score=0

print("종료하려면 음수를 입력하시오.")
while score>=0:
  score=int(input("성적을 입력하시오"))
  if score>0:
    sum+=score
    n+=1
if n>0:
  average=sum/n
print("성적의 평균은 %.2f입니다."%average)

종료하려면 음수를 입력하시오.
성적을 입력하시오10
성적을 입력하시오20
성적을 입력하시오30
성적을 입력하시오-1
성적의 평균은 20.00입니다.

In [ ]:
year=0
balance=1000

while balance<2000:
  year+=1
  interest=balance*0.05
  balance+=interest
print("기간: ",year)
print("총액: ",balance)

기간:  15
총액:  2078.928179411367

In [ ]:
keyword_list=[]
user_input=""

while user_input!="quit":
  user_input=input("단어를 입력하세요('quit'으로 종료): ")

  if user_input!= "quit":
    keyword_list.append(user_input)

keyword_count=len(keyword_list)
print("입력된 단어 개수:",keyword_count)
print("입력된 단어 목록:",keyword_list)

단어를 입력하세요('quit'으로 종료): apple
단어를 입력하세요('quit'으로 종료): banana
단어를 입력하세요('quit'으로 종료): orange
단어를 입력하세요('quit'으로 종료): quit
입력된 단어 개수: 3
입력된 단어 목록: ['apple', 'banana', 'orange']

In [ ]:
number=1234
sum=0

while number>0:
  digit=number%10
  sum+=digit
  number//=10
print("자리수의 합은 %d입니다."%sum)

자리수의 합은 10입니다.

In [ ]:
x=int(input("정수를 입력하시오(큰수):"))
y=int(input("정수를 입력하시오(작은수):"))

while (y!=0):
  r=x%y
  x=y
  y=r

print("최대 공약수는 %d입니다."%x)

정수를 입력하시오(큰수):10
정수를 입력하시오(작은수):2
최대 공약수는 2입니다.

In [ ]:
import random
tries=0
number=random.randint(1,100)

print("1부터 100 사이의 숫자를 맞추시오")

while tries<10:
  guess=int(input("숫자를 입력하시오: "))
  tries+=1
  if guess<number:
    print('낮음!')
  elif guess>number:
    print("높음!")
  else:
    break
if guess==number:
  print("축하합니다. 시도횟수=",tries)
else:
  print("정답은", number)

1부터 100 사이의 숫자를 맞추시오
숫자를 입력하시오: 100
높음!
숫자를 입력하시오: 2
낮음!
숫자를 입력하시오: 30
낮음!
숫자를 입력하시오: 40
낮음!
숫자를 입력하시오: 60
낮음!
숫자를 입력하시오: 70
낮음!
숫자를 입력하시오: 80
낮음!
숫자를 입력하시오: 9
낮음!
숫자를 입력하시오: 90
낮음!
숫자를 입력하시오: 97
축하합니다. 시도횟수= 10

In [ ]:

number=input("휴대전화 번호 입력: ")
num=number[0:3]
if num=="011":
  user='SKT'
elif num=="016":
  user='KT'
elif num=="019":
  user='LGU'
elif num=="010":
  user='알수없음'
else:
  user='알 수 없는 번호입니다.'
print("당신은",user,"사용자입니다")

휴대전화 번호 입력: 0161234567
당신은 KT 사용자입니다

In [ ]:
number=input("주민등록번호: ")
num=number[7]

if num=="1" or num=="3":
  print("남자")
else:
  print("여자")

주민등록번호: 000000-3333333
남자

In [ ]:
food=["김밥","라면","튀김"]

for i in food:
  print("오늘의 메뉴: ",i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [ ]:
list=["SK하이닉스","삼성전자","LG전자"]

for i in list:
  print(len(i))

6
4
4

In [ ]:
list=[3,-20,-3,44]

for i in list:
  if i<0:
    print(i)

-20
-3

In [ ]:
list=['dog','cat','parrot']

for i in list:
  print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [ ]:
list=['hello.py','ex01.py','intro.hwp']
for i in list:
  split=i.split(".")
  print(split[0])

hello
ex01
intro

In [ ]:
#과제 01
word=input("문자열을 입력하시오: ")
count={}
for i in word:
  if i in count:
    count[i]+=1
  else:
    count[i]=1

for i in count:
  print(f"{i}:{count[i]}")

문자열을 입력하시오: hello world
h:1
e:1
l:3
o:2
 :1
w:1
r:1
d:1

In [ ]:
#과제 02
numbers=input("숫자들을 입력하세요(띄어쓰기로 구분):").split()
sum=0
list=[]
for i in numbers:
  sum+=int(i)
  list.append(sum)
print(f"누적 합 리스트: {list}")

숫자들을 입력하세요(띄어쓰기로 구분):1 2 3 4 5
누적 합 리스트: [1, 3, 6, 10, 15]

In [ ]:
#과제 03
answer=0
sum=0

while answer!=123:
  answer=int(input('87+36의 값은?'))
  if answer==123:
    print("맞았습니다.")
    sum+=answer
  else:
    print("틀렸습니다.")

87+36의 값은?1
틀렸습니다.
87+36의 값은?100
틀렸습니다.
87+36의 값은?200
틀렸습니다.
87+36의 값은?123
맞았습니다.

In [ ]:
#과제 04
import random

ilist=input("로또 번호 6개를 띄어쓰기로 구분하여 입력하세요: ").split()
user_lotto=[]
for s in ilist:
  number=int(s)
  user_lotto.append(number)

user_bonus=int(input("보너스 번호를 입력하세요: "))

lotto=random.sample(range(1,46),6)
bonus=random.sample(range(1,46),1)[0]

print("당첨 번호:",lotto)
print("보너스 번호: ",bonus)

match_count=0
for num in user_lotto:
  if num in lotto:
    match_count+=1

if match_count==6:
  print("1등")
elif match_count==5 and user_bonus==bonus:
  print("2등")
elif match_count==5:
  print("3등")
elif match_count==4:
  print("4등")
elif match_count==3:
  print("5등")
else:
  print("꽝")

로또 번호 6개를 띄어쓰기로 구분하여 입력하세요: 10 22 14 18 31 42
보너스 번호를 입력하세요: 10
당첨 번호: [5, 15, 43, 1, 2, 22]
보너스 번호:  11
꽝