<a href="https://colab.research.google.com/github/jylee-ii/school-assignments/blob/main/%5B%EA%B3%BC%EC%A0%9C6%5D_20251226_%EC%9D%B4%EC%A7%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

def calCircle(r):
  area=math.pi*r*r
  circum=2*math.pi*r
  return area,circum

radius=float(input("원의 반지름을 입력하시오: "))
(a,c)=calCircle(radius)
print(f'원의 넓이는 {str(a)}이고 둘레는 {str(c)}이다.')

원의 반지름을 입력하시오: 10
원의 넓이는 314.1592653589793이고 둘레는 62.83185307179586이다.

In [ ]:
set([1,2,3,1,2,3])

{1, 2, 3}

In [ ]:
set("abcdefa")

{'a', 'b', 'c', 'd', 'e', 'f'}

In [ ]:
numbers={1,2,3}
numbers.add(4)
print(numbers)

numbers.update([2,3,4,5])
print(numbers)

numbers.discard(5)
print(numbers)

numbers.remove(4)
print(numbers)

numbers.clear()
print(numbers)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3}
set()

In [ ]:
A={1,2,3}
B={3,4,5}

print(A|B)
print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
A={1,2,3}
B={3,4,5}

print(A&B)
print(A.intersection(B))

{3}
{3}

In [ ]:
A={1,2,3}
B={3,4,5}

print(A-B)
print(A.difference(B))
print(B-A)
print(B.difference(A))

{1, 2}
{1, 2}
{4, 5}
{4, 5}

In [ ]:
partyA=set(["Park","Kim","Lee"])
partyB=set(["Park","Choi"])

print("파티A=",partyA)
print("파티B=",partyB)
print("동시에 참석한 사람=",partyA.intersection(partyB))

파티A= {'Kim', 'Lee', 'Park'}
파티B= {'Choi', 'Park'}
동시에 참석한 사람= {'Park'}

In [ ]:
def count_unique_words(text):
  words=text.split()
  unique_words=set(words)

  return len(unique_words)

user_input=input("문자열을 입력하세요:")
result=count_unique_words(user_input)
print("중복되지 않은 단어의 개수: ",result)

문자열을 입력하세요:Hello world hello Python world
중복되지 않은 단어의 개수:  4

In [ ]:
triples={x:x*x*x for x in range(6)}
print(triples)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
def printV(a,b,c):
  print(a,b,c)

my_list=[1,2,3]
printV(*my_list)

1 2 3

In [ ]:
def info(name,age):
  print(f'Name:{name},Age:{age}')

myDict={'name':'Alice','age':30}
info(**myDict)

Name:Alice,Age:30

In [ ]:
english_dict=dict()

english_dict['one']='하나'
english_dict['two']='둘'
english_dict['three']='셋'

word=input("단어를 입력하세요: ")
print(english_dict.get(word,"없음"))

단어를 입력하세요: one
하나

In [ ]:
import time
start=time.time()

def fib(n):
  if n<=1:
    return n
  else:
    return fib(n-1)+fib(n-2)

print(fib(40))
print("time",time.time()-start)

102334155
time 26.451035499572754

In [ ]:
import time
start=time.time()

table={0:0,1:1}

def fib(n):
  if n not in table:
    value=fib(n-1)+fib(n-2)
    table[n]=value
  return table[n]

print(fib(50))

print("time",time.time()-start)

12586269025
time 0.00044345855712890625

In [ ]:
matrix={(1,2):1,(2,2):2,(3,2):3}

for r in range(5):
  for c in range(5):
    print(matrix.get((r,c),0),end="")
  print()

00000
00100
00200
00300
00000

In [ ]:
s='Never put off till tomorrow what you can do today'
result=s.split()
print(result)

['Never', 'put', 'off', 'till', 'tomorrow', 'what', 'you', 'can', 'do', 'today']

In [ ]:
s='apple,banana,orange'
result=s.split(',')
print(result)

['apple', 'banana', 'orange']

In [ ]:
my_list=['apple','banana','orange']
result=",".join(my_list)
print(result)

apple,banana,orange

In [ ]:
text="Hello World!"
reversed=text[::-1]
print(reversed)

text="I love apples and apples are tasty"
reText=text.replace("apples","bananas")
print(reText)

text="Python is a powerful programming language"
index=text.find("powerful")
print(index)

text="Python is fun and versatile"
split_text=text.split()
print(split_text)

!dlroW olleH
I love bananas and bananas are tasty
12
['Python', 'is', 'fun', 'and', 'versatile']

In [ ]:
string=input("문자열을 입력하시오: ")
reversed_string=string[::-1]

if string==reversed_string:
  print("회문입니다.")
else:
  print("회문이 아닙니다.")

문자열을 입력하시오: civic
회문입니다.

In [ ]:
address=input("이메일 주소를 입력하시오: ")
(id,domain)=address.split('@')

print('아이디',id)
print('도메인',domain )

이메일 주소를 입력하시오: aaa@google.com
아이디 aaa
도메인 google.com

In [ ]:
input_string=input("문자열을 입력하시오: ")
words=input_string.split()

word_count={}

for word in words:
  word=word.lower()

  if word not in word_count:
    word_count[word]=1
  else:
    word_count[word]+=1

for word,count in word_count.items():
  print(f"{word}:{count}번")

문자열을 입력하시오: This is a sample sentence. This is another sentence
this:2번
is:2번
a:1번
sample:1번
sentence.:1번
another:1번
sentence:1번

In [1]:
# 과제 01

def union_intersection(tuple_a,tuple_b):
  union_set=set(tuple_a).union(set(tuple_b)) # 여기가 key

  intersection_set=set(tuple_a).intersection(set(tuple_b))

  return tuple(sorted(union_set)),tuple(sorted(intersection_set))


tuple_A=(1,2,3,4)
tuple_B=(3,4,5,6)


result_union,result_intersection=union_intersection(tuple_A,tuple_B)


print("튜플 A=:",tuple_A)
print("튜플 B=:",tuple_B)
print("합집합:",tuple(result_union))
print("교집합:",tuple(result_intersection))

튜플 A=: (1, 2, 3, 4)
튜플 B=: (3, 4, 5, 6)
합집합: (1, 2, 3, 4, 5, 6)
교집합: (3, 4)

In [ ]:
# 과제 02

def findKeys(myDict,value):
  return [key for key,val in myDict.items() if val ]


inputDict={'apple':100,'banana':200,'orange':100,'grape':300}

search=100


print(f"입력 딕셔너리={inputDict}")
print(f"값 {search}을 가지는 키들: {findKeys(inputDict,search)}")

입력 딕셔너리={'apple': 100, 'banana': 200, 'orange': 100, 'grape': 300}
값 100을 가지는 키들: ['apple', 'banana', 'orange', 'grape']

In [3]:
# 과제 03

import random

def lotto_number():
  lotto_numbers=set()

  while len(lotto_numbers)<6:
    lotto_numbers.add(random.randint(1,45))

  return lotto_numbers


lotto_result=lotto_number()
print("로또 번호:", lotto_result)

로또 번호: {2, 4, 11, 43, 19, 27}

In [4]:
# 과제 04

def check(date):
  if len(date)!=8:
    return False

  year=int(date[:4])
  month=int(date[4:6])
  day=int(date[6:8])

  if month<1 or month>12:
    return False

  if day<1 or day>31:
    return False

  elif month in [4,6,9,11] and day>30:
    return False

  elif month==2 and day>29:
    return False

  return True


birthday=input("생년월일을 입력하시오: ")


if check(birthday):
  print("올바른 생년월일입니다.")
else:
  print("올바른 생년월일이 아닙니다.")

생년월일을 입력하시오: 19991301
올바른 생년월일이 아닙니다.

In [5]:
# 과제 05

def char_to_digit(char):
  keypad={
      'A':'2','B':'2','C':'2',
      'D':'3','E':'3','F':'3',
      'G':'4','H':'4','I':'4',
      'J':'5','K':'5','L':'5',
      'M':'6','N':'6','O':'6',
      'P':'7','Q':'7','R':'7','S':'7',
      'T':'8','U':'8','V':'8',
      'W':'9','X':'9','Y':'9','Z':'9',
      '+':'0'
  }
  return keypad[char]

def string_to_digits(keypad):
  digits=''
  for char in keypad:
    if char.isalpha() or char=='+':
      digits+=char_to_digit(char)
  return digits






string=input("문자열을 입력하시오: ")


digits=string_to_digits(string.upper())


print(digits)

문자열을 입력하시오: NUMBER
686237

In [6]:
# 과제 06

admain={
    "nnn":"12345678",
    "user2":"password2",
    "user3":"password3",
}

user_id=input(f"아이디를 입력하세요: ")

if user_id in admain:
  password=admain[user_id]
  print(f"패스워드는 {password} 입니다.")
else:
  print(f"해당하는 아이디가 존재하지 않습니다.")

아이디를 입력하세요: nnn
패스워드는 12345678 입니다.

In [ ]:
# 과제 07

phoneBook={}
mode="입력모드"

while True:
  if mode=="입력모드":
    name=input("(입력모드)이름을 입력하시오: ")
    if name=="":
      mode="검색모드"
      continue
    phone_number=input("전화번호를 입력하시오: ")
    phoneBook[name]=phone_number
  elif mode=="검색모드":
    name=input("(검색모드)이름을 입력하시오: ")
    if name in phoneBook:
      print(f"{name}의 전화번호는 {phoneBook[name]} 입니다.")
    elif name=="":
      break
    else:
      print("해당하는 이름의 친구가 존재하지 않습니다.")
  else:
    print("잘못된 모드를 입력하셨습니다.")

(입력모드)이름을 입력하시오: 뽐이
전화번호를 입력하시오: 12345
(입력모드)이름을 입력하시오: 루크
전화번호를 입력하시오: 678910
(입력모드)이름을 입력하시오:
(검색모드)이름을 입력하시오: 루크
루크의 전화번호는 678910 입니다.
(검색모드)이름을 입력하시오: 지디
해당하는 이름의 친구가 존재하지 않습니다.
(검색모드)이름을 입력하시오:

In [ ]:
# 과제 08

sales=(100,121,120,130,140,120,122,123,190,125)

count=0

for i in range(1,len(sales)):
  if sales[i]<sales[i-1]:
    count+=1


print(f"매출이 전날보다 감소한 날: {count}일")

매출이 전날보다 감소한 날: 3일

In [ ]:
# 과제 09

a=(100,150,230,120,180,100,140,95,81,21,4)
b=(300,420,530,420,400,300,40,5,1,1,1)
ballotA=sum(a[2:])
ballotB=sum(b[2:])

print(f'마을 A와 B에 보낼 투표용지의 개수는 각각 {ballotA} 장과 {ballotB} 장입니다.')

마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1698 장입니다.