<a href="https://colab.research.google.com/github/jylee-ii/school-assignments/blob/main/%5B%EA%B3%BC%EC%A0%9C5%5D_20251226_%EC%9D%B4%EC%A7%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def factorial(n):
  if n==1:
    return (1)
  else:
    return n*factorial(n-1)

n=int(input("정수를 입력하시오: "))
print(n,"!=",factorial(n))

정수를 입력하시오: 10
10 != 3628800

In [ ]:
def factorial(n):
  print("factorial(",n,")")
  if n==1:
    return 1
  else:
    return n*factorial(n-1)

factorial(3)

factorial( 3 )
factorial( 2 )
factorial( 1 )

6

In [ ]:
def fib(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fib(n-1)+fib(n-2)

n=int(input("정수를 입력하시오."))
print(n,"번째 피보나치 수는",fib(n))

정수를 입력하시오.10
10 번째 피보나치 수는 55

In [ ]:
def total_sum(x):
  sum_result=0
  for x in range(1,n+1):
    sum_result+=x
  return sum_result

n=int(input("정수를 입력하시오: "))
sum_result=total_sum(n)

print(f'1부터 {n}까지의 합: {sum_result}')

정수를 입력하시오: 10
1부터 10까지의 합: 55

In [ ]:
# 01
def sum_list_recursive(lst):
  index=0

  if index==len(lst):
    return 0

  return lst[0]+sum_list_recursive(lst[1:])

input_list=[1,2,3,4,5]
result=sum_list_recursive(input_list)
print("입력 리스트=",input_list)
print("요소의 합=",result)

입력 리스트= [1, 2, 3, 4, 5]
요소의 합= 15

In [ ]:
# 02
def calculate_total(a,b,c):
  return a+b+c

result=calculate_total(a=1,b=2,c=3)
print("세 개의 숫자의 합=",result)

세 개의 숫자의 합= 6

In [ ]:
# 03
counter=0

def func_with():
  global counter
  counter+=1
  print("함수 호출 횟수: ",counter)

for _ in range(3):
  func_with()

함수 호출 횟수:  1
함수 호출 횟수:  2
함수 호출 횟수:  3

In [ ]:
# 04
def find_max(lst):
  maxV=lst[0]
  for num in lst:
    if num>maxV:
      maxV=num
  return maxV

input_list=[1,5,3,7,2,9,4]
max_value=find_max(input_list)
print("입력리스트: ",input_list)
print("최댓값: ",max_value)

입력리스트:  [1, 5, 3, 7, 2, 9, 4]
최댓값:  9

In [ ]:
# 05
def count(string):
  vowels='aeiouAEIOU'
  count=0
  for char in string:
    if char in vowels:
      count+=1
  return count

input_string=input("문자열을 입력하세요: ")
results=count(input_string)
print("모음 개수:",results)

문자열을 입력하세요: Hello
모음 개수: 2

In [ ]:
# 06
def sort_numbers(numbers):
  numbers.sort()
  return numbers

inputStr=input("정수를 쉼표로 구분하여 입력하세요: ")

inputList=[]
for x in inputStr.split(','):
  inputList.append(int(x))
print(f'입력된 정수의 리스트: {inputList}')

result=sort_numbers(inputList)

print(f'정렬된 정수의 리스트: ',end='')
for i in result:
  print(f'{i}',end=' ')

정수를 쉼표로 구분하여 입력하세요: 99,88,55,22,11,33
입력된 정수의 리스트: [99, 88, 55, 22, 11, 33]
정렬된 정수의 리스트: 11 22 33 55 88 99

In [ ]:
# 6장. 리스트
STUDENTS=5

scores=[]
scoreSum=0

for i in range(STUDENTS):
  value=int(input("성적을 입력하시오: "))
  scores.append(value)
  scoreSum+=value

scoreAvg=scoreSum/len(scores)

highScoreStudents=0

for i in range(len(scores)):
  if scores[i]>=80:
    highScoreStudents+=1

print("성적 평균은",scoreAvg,"입니다.")
print("80점 이상 성적을 받은 학생은",highScoreStudents,"명입니다.")

성적을 입력하시오: 10
성적을 입력하시오: 20
성적을 입력하시오: 60
성적을 입력하시오: 70
성적을 입력하시오: 80
성적 평균은 48.0 입니다.
80점 이상 성적을 받은 학생은 1 명입니다.

In [ ]:
text='Will is power'
print(text[0],text[1],text[-1])

flist=['apple','banana','tomato','peach','pear']
print(flist[0],flist[3],flist[-1])

W i r
apple peach pear

In [ ]:
my_list=['apple','banana','cherry','date','fig']

slice=my_list[1:4]
print(slice)

['banana', 'cherry', 'date']

In [ ]:
heroes=['스파이더맨','슈퍼맨','헐크','아이언맨','배트맨']
index=heroes.index("슈퍼맨")

print(index)
heroes=['스파이더맨','슈퍼맨','헐크','아이언맨','배트맨']
if '슈퍼맨'in heroes:
  index=heroes.index("슈퍼맨")

print(index)

1
1

In [ ]:
heroes=['스파이더맨','슈퍼맨','헐크','아이언맨','배트맨']
heroes.pop(1)
print(heroes)

heroes=['스파이더맨','슈퍼맨','헐크','아이언맨','배트맨','조커']
heroes.remove("조커")
heroes

['스파이더맨', '헐크', '아이언맨', '배트맨']

['스파이더맨', '슈퍼맨', '헐크', '아이언맨', '배트맨']

In [ ]:
animals=['dog','cat','dog','elephant','dog','lion','tiger']
dog_count=animals.count('dog')
print (f'dog의 개수: {dog_count}')

dog의 개수: 3

In [ ]:
my_list=[1,7,2,7,3,7,4,5,7]

count_of_seven=my_list.count(7)
print("숫자 7의 등장 횟수: ",count_of_seven)

숫자 7의 등장 횟수:  4

In [ ]:
def calculate_stats(numbers):
  total=sum(numbers)
  avg=total/len(numbers)
  max_numbers=max(numbers)
  min_numbers=min(numbers)
  return total,avg,max_numbers,min_numbers

numbers=[]
while True:
  num=input("숫자를 입력하세요(종료는 q):")
  if num.lower()=='q':
    break
  numbers.append(int(num))

total,avg,max_numbers,min_numbers=calculate_stats(numbers)
print("숫자들의 합계:",total)
print("숫자들의 평균:",avg)
print("숫자들의 최대값:",max_numbers)
print("숫자들의 최소값:",min_numbers)

숫자를 입력하세요(종료는 q):10
숫자를 입력하세요(종료는 q):20
숫자를 입력하세요(종료는 q):30
숫자를 입력하세요(종료는 q):40
숫자를 입력하세요(종료는 q):q
숫자들의 합계: 100
숫자들의 평균: 25.0
숫자들의 최대값: 40
숫자들의 최소값: 10

In [ ]:
a=[3,2,1,5,4]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a=[3,2,1,5,4]
b=sorted(a)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
sorted("A picture is worth a thousand words.".split(),key=str.lower)

['A', 'a', 'is', 'picture', 'thousand', 'words.', 'worth']

In [ ]:
sorted([5,2,3,1,4],reverse=True)

[5, 4, 3, 2, 1]

In [ ]:
scores=[10,20,30,40,50]
values=list(scores)
values[2]=99

print(scores)
print(values)
print(scores)

[10, 20, 30, 40, 50]
[10, 20, 99, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
import copy

original_list=[1,2,[3,4,5]]
deep_copied_list=copy.deepcopy(original_list)

print(original_list)
print(deep_copied_list)

[1, 2, [3, 4, 5]]
[1, 2, [3, 4, 5]]

In [ ]:
my_list=[45,23,9,37,15,3]

my_list.sort()
print("오름차순 정렬 결과: ",my_list)

오름차순 정렬 결과:  [3, 9, 15, 23, 37, 45]

In [ ]:
def func2(list):
  list[0]=99

values=[0,1,1,2,3,5,8]

In [ ]:
s=[x**2 for x in range(10)]

s=[0,1,4,9,16,25,36,49,64,81]
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
M=[x for x in range(10) if x%2==0]

print(M)

[0, 2, 4, 6, 8]

In [ ]:
list1=['All','good','things','must','come','to','an','end']
items=[word[0] for word in list1]
print(items)

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [ ]:
word_list='Doncount your chickens before they are hatched'.split()
result_list=[len(w) for w in word_list]
print(result_list)

[8, 4, 8, 6, 4, 3, 7]

In [ ]:
colors=['white','silver','black']
cars=['bmw5','sonata','malibu','sm6']
colored_cars=[(x,y) for x in colors for y in cars]
print(colored_cars)

[('white', 'bmw5'), ('white', 'sonata'), ('white', 'malibu'), ('white', 'sm6'), ('silver', 'bmw5'), ('silver', 'sonata'), ('silver', 'malibu'), ('silver', 'sm6'), ('black', 'bmw5'), ('black', 'sonata'), ('black', 'malibu'), ('black', 'sm6')]

In [ ]:
my_list=['apple','banana','cherry','date','fig']

lengths=[len(word)for word in my_list]
print("각 문자열의 길이: ",lengths)

각 문자열의 길이:  [5, 6, 6, 4, 3]

In [ ]:
new_list=[]
for x in range(1,31):
  for y in range(x,31):
    for z in range(y,31):
      if x**2+y**2==z**2:
        new_list.append((x,y,z))

print(new_list)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (18, 24, 30), (20, 21, 29)]

In [ ]:
[(x,y,z) for x in range(1,31) for y in range(x,31) for z in range(y,31) if x**2+y**2==z **2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

In [ ]:
even=[x for x in range(1,11) if x%2==0]
print(even)

[2, 4, 6, 8, 10]

In [ ]:
my_list=[-3,-2,-1,0,1,2,3]
new_list=[x for x in my_list if x>0]
print(new_list)

[1, 2, 3]

In [ ]:
my_list=[3,8,12,7,15,21,10]
new_list=[x for x in my_list if x>5]
print(new_list)

[8, 12, 7, 15, 21, 10]

In [ ]:
rows=3
cols=5

s=[]
for row in range(rows):
  s+=[[0]*cols]
print("s=",s)

s= [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [ ]:
s=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
rows=len(s)
cols=len(s[0])

for r in range(rows):
  for c in range(cols):
    print(s[r][c],end=',')

  print()

1,2,3,4,5,
6,7,8,9,10,
11,12,13,14,15,

In [ ]:
matrix=[[10,20,30],[40,50,60],[70,80,90]]

row_index=0
row_sum=sum(matrix[row_index])

print(f'1번째 행의 합계:{row_sum}')

1번째 행의 합계:60

In [ ]:
# 과제 01
my_list=[1,2,3,4,5,6,7,8,9]
print(f'입력 리스트={my_list}')
o=[x for x in my_list if x%2!=0]
print(f'출력 리스트={o}')

입력 리스트=[1, 2, 3, 4, 5, 6, 7, 8, 9]
출력 리스트=[1, 3, 5, 7, 9]

In [ ]:
# 과제 02
input_list=['apple','banana','kiwi','orange']
s=[x for x in input_list if len(x)==max(len(i) for i in input_list)]
print(s)

['banana', 'orange']

In [ ]:
# 과제 03
def find_position(matrix,target):
  for row_index,row in enumerate(matrix):
    for col_index,value in enumerate(row):
      if value==target:
        return row_index,col_index

input_list=[[10,20,30],[40,50,60],[70,80,90]]
print(f'입력 리스트= {input_list}')
target=int(input("찾는 값= "))
a=find_position(input_list,target)
print(f'찾는 값의 위치: {a}')

입력 리스트= [[10, 20, 30], [40, 50, 60], [70, 80, 90]]
찾는 값= 50
찾는 값의 위치: (1, 1)