<a href="https://colab.research.google.com/github/jylee-ii/school-assignments/blob/main/%5B%EA%B3%BC%EC%A0%9C4%5D_20251226_%EC%9D%B4%EC%A7%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def get_sum(start,end):
  sum=0
  for i in range(start,end+1):
    sum+=i
  return sum

print(get_sum(1,10))
print(get_sum(1,20))

55
210

In [ ]:
def find_max(numbers):
  if not numbers:
    return None

  max_num=numbers[0]

  for numbers in numbers:
    if numbers>max_num:
      max_num=numbers

  return max_num

# main
input_num=[3,4,15,6,7]
result=find_max(input_num)
print('리스트에서 가장 큰 숫자',result)

리스트에서 가장 큰 숫자 15

In [ ]:
def happy(name):
  print("생일 축하 합니다!")
  print("생일 축하 합니다!")
  print(f'사랑하는 {name}의 생일 축하 합니다!\n')

who='덕덕이'
happy(who)

생일 축하 합니다!
생일 축하 합니다!
사랑하는 덕덕이의 생일 축하 합니다!

In [ ]:
def happy(name):
  print("생일 축하 합니다!")
  print("생일 축하 합니다!")
  print(f'사랑하는 {name}의 생일 축하 합니다!\n')

who=['덕덕이','덕성이','덕새']

for i in range(len(who)):
  happy(who[i])

생일 축하 합니다!
생일 축하 합니다!
사랑하는 덕덕이의 생일 축하 합니다!

생일 축하 합니다!
생일 축하 합니다!
사랑하는 덕성이의 생일 축하 합니다!

생일 축하 합니다!
생일 축하 합니다!
사랑하는 덕새의 생일 축하 합니다!

In [ ]:
def factorial(n):
  result=1
  for i in range(1,n+1):
    result*=i
  return result

number=5
factorial_result=factorial(number)
print(f'{number}의 팩토리얼은 {factorial_result}입니다.')

5의 팩토리얼은 120입니다.

In [ ]:
def FtoC(temp_f):
  temp_c=(5.0*(temp_f-32.0))/9.0
  return temp_c

temp_f=float(input("화씨온도를 입력하세요: "))

print(FtoC(temp_f))

화씨온도를 입력하세요: 32.0
0.0

In [ ]:
def func1(x):
  print("x=",x,"id=",id(x))
  x=42
  print("x=",x,"id=",id(x))

y=10

print("y=",y,"id=",id(y))
func1(y)
print("y=",y,"id=",id(y))

y= 10 id= 10751144
x= 10 id= 10751144
x= 42 id= 10752168
y= 10 id= 10751144

In [ ]:
def func2(list):
  list[0]=99

values=[0,1,1,2,3,5,8]
print(values)
func2(values)
print(values)

[0, 1, 1, 2, 3, 5, 8]
[99, 1, 1, 2, 3, 5, 8]

In [ ]:
def is_prime(n):
  for i in range(2,n):
    if n%i==0:
      return False
  return True

n=int(input("정수를 입력하시오: "))

print(is_prime(n))

정수를 입력하시오: 100
False

In [ ]:
import math

def sphereVolume(radius):
  volume=(4.0/3.0)*math.pi*radius**3
  return volume

radius=float(input("구의 반지름을 입력하세요: "))

print("구의 부피: ",sphereVolume(radius))

구의 반지름을 입력하세요: 10
구의 부피:  4188.790204786391

In [ ]:
import random
def genPass():
  alphabet="abcdefghijklmnopqrstuvwxyz0123456789"
  password=""

  for i in range(6):
    password+=random.choice(alphabet)

  return password

print(genPass())
print(genPass())
print(genPass())

kses5x
2q1725
hvy30j

In [ ]:
def greet(name,msg):
  print("안녕",name+'.'+msg)

greet("철수","좋은 아침!")

안녕 철수.좋은 아침!

In [ ]:
def calcs(x,y,z):
  return x+y+z

calcs(10,20,30)

60

In [ ]:
def calcs(x,y,z):
  print(x+y+z)

calcs(10,20,30)

60

In [ ]:
def calc(x,y,z):
  return x+y+z

calc(y=20,x=10,z=10)

40

In [ ]:
def calculate_total(price,quantity=1):
  total=price*quantity
  return total

product_price=float(input("제품 가격을 입력하세요: "))
product_quantity=int(input("제품 수량을 입력하세요(엔터를 누르면 기본값 1이 적용됩니다.)"))

result=calculate_total(product_price,product_quantity)
print(f"총 가격: {result:.0f}" )

제품 가격을 입력하세요: 1000
제품 수량을 입력하세요(엔터를 누르면 기본값 1이 적용됩니다.)5
총 가격: 5000

In [ ]:
def add(a,b):
  return a+b

def sub(a,b):
  return a-b

def mul(a,b):
  return a*b

def div(a,b):
  return a/b

r1=mul(a=20,b=30)
r2=add(a=10,b=r1)

print(r2)

610

In [ ]:
def process_order(customer_name,product,address=None,payment_method=None):
  print(f'{customer_name}님의 주문이 처리되었습니다.')
  print(f'주문 내역: {product}')

  if address:
    print(f'배송 주소: {address}')

  if payment_method:
    print(f'결제 방법: {payment_method}')

process_order("Kim","사과",address='서울시 강남구',payment_method="신용카드")

Kim님의 주문이 처리되었습니다.
주문 내역: 사과
배송 주소: 서울시 강남구
결제 방법: 신용카드

In [ ]:
def area(w,h):
  return w*h

def input_pos(msg):
  while True:
    value=int(input(msg))
    if value>0:
      return value
    else:
      print("양수만 입력하시오.")

width=input_pos('사각형의 가로: ')
height=input_pos('사각형의 세로: ')

result=area(width,height)
print("면적=",result)

사각형의 가로: -1
양수만 입력하시오.
사각형의 가로: 100
사각형의 세로: 100
면적= 10000

In [ ]:
def modify_list(my_list):

  for i in range(len(my_list)):
    my_list[i]*=2

original_list=[1,2,3,4,5]
print("변경 전 리스트:",original_list)

modify_list(original_list)

print("변경 후 리스트: ",original_list)

변경 전 리스트: [1, 2, 3, 4, 5]
변경 후 리스트:  [2, 4, 6, 8, 10]

In [ ]:
s="사과가 좋음!"

def sub():
  print(s)

sub()

사과가 좋음!

In [ ]:
s="사과가 좋음!"

def sub():
  s="메론이 좋음!"
  print(s)

sub()
print(s)

메론이 좋음!
사과가 좋음!

In [ ]:
s="사과가 좋음!"

def sub():
  global s
  print(s)
  s="메론이 좋음!"
  print(s)

sub()
print(s)

사과가 좋음!
메론이 좋음!
메론이 좋음!

In [ ]:
count=0

def increment_global():
  global count
  count+=1

def print_count():
  print('현재 count 값:',count)

increment_global()
increment_global()
print_count()

현재 count 값: 2

In [ ]:
def sub(mylist):
  mylist=[1,2,3,4]
  print("함수 내부에서의 mylist:",mylist)
  return

mylist=[10,20,30,40]
sub(mylist)
print("함수 외부에서의 mylist: ",mylist)

함수 내부에서의 mylist: [1, 2, 3, 4]
함수 외부에서의 mylist:  [10, 20, 30, 40]

In [ ]:
PI=3.14159265358979

def main():
  radius=float(input('원의 반지름을 입력하시오'))
  print('원의 면적:',circleA(radius))
  print('원의 면적:',circleC(radius))

def circleA(radius):
  return PI*radius*radius

def circleC(radius):
  return 2*PI*radius

main()

원의 반지름을 입력하시오10
원의 면적: 314.159265358979
원의 면적: 62.8318530717958

In [ ]:
def analyze_string(text):
  length=len(text)
  words=len(text.split())
  return length,words

input_text=input("문자열을 입력하시오: ")

result_length,result_words=analyze_string(input_text)

print(f'문자열 길이: {result_length}')
print(f'단어 개수: {result_words}')

문자열을 입력하시오: Hello world. This is a text
문자열 길이: 27
단어 개수: 6

In [ ]:
add=lambda x,y:x+y

result=add(3,5)
print(result)

8

In [ ]:
string_length=lambda s:len(s)

example_string='Hello,Lambda!'
result=string_length(example_string)

print(f"문자열'{example_string}'의 길이: {result}")

문자열'Hello,Lambda!'의 길이: 13

In [ ]:
# 과제 01

def sum_of_list(l):
  total=sum(l)
  print(f'입력 리스트={l}')
  print(f'요소의 합={total}')

l=[1,2,3,4,5]
sum_of_list(n)

입력 리스트=[1, 2, 3, 4, 5]
요소의 합=15

In [ ]:
# 과제 02

def calculate_total(a,b,c,d,e):
  return a+b+c+d+e

l=[1,2,3,4,5]
sum=calculate_total(1,2,3,4,5)
print(f'입력 리스트={l}')
print(f'요소의 합={sum}')

입력 리스트=[1, 2, 3, 4, 5]
요소의 합=15

In [ ]:
# 과제 03

counter=0

def func_with():
  global counter
  counter+=1
  print(f'함수 호출 횟수: {counter}')

func_with()
func_with()
func_with()

함수 호출 횟수: 1
함수 호출 횟수: 2
함수 호출 횟수: 3

In [ ]:
# 과제 04

def find_max(n):
  m=max(n)
  print(f'입력 리스트: {n}')
  print(f'최댓값: {m}')

n=[1,5,3,7,2,9,4]
find_max(n)

입력 리스트: [1, 5, 3, 7, 2, 9, 4]
최댓값: 9

In [ ]:
# 과제 05

def count(n):
  vowels=0
  n=input("문자열을 입력하세요: ")
  print(f'입력 문자열: {n}')
  for i in n:
    if i in 'aeiou':
      vowels+=1
  print(f'모음 개수: {vowels}')

count(n)

문자열을 입력하세요: Hello
입력 문자열: Hello
모음 개수: 2

In [ ]:
# 과제 06

def get_inputStr():
  inputStr=input("정수를 쉼표로 구분하여 입력하세요: ")
  return inputStr

def get_inputList(inputStr):
  inputList=inputStr.split(',')
  intList=[]
  for i in inputList:
    intList.append(int(i))
  return intList

def sort_list(num_list):
  num_list.sort()
  return num_list

def result(inputStr, sort_list):
  print(f'입력된 정수의 리스트: {inputStr}')
  print(f'정렬된 정수의 리스트: {sort_list}')

n=get_inputStr()
a=get_inputList(n)
b=sort_list(a)
result(n,b)

정수를 쉼표로 구분하여 입력하세요: 99,88,55,22,11,33
입력된 정수의 리스트: 99,88,55,22,11,33
정렬된 정수의 리스트: [11, 22, 33, 55, 88, 99]